{{>layout/header}}

<h1>반가워요!!!</h1>
<h2>신뢰해요!!!</h2>

<div class="form-group row">
    <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>
    <div class="col-sm-10">
        <div class="custom-file" id="inputFile">
            <input name="file" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
        </div>
    </div>
</div>

{{>layout/footer}}